img{
    width: 150px;
    height: 150px;

}
body{
    background: #FFAB73;
}
input{
    font-size: 35px;
    background: #FFD384;
}
p{
    font-size: 35px;
}

h4{
    font-size: 25px;
    background: #FFF9B0;
}